Library/
Temp/
Logs/
Obj/
Build/
.vs/
.idea/
Assets/Sprite/Theodore's Art.meta
Assets/Sprite/Theodore's Art/Bush1.png
Assets/Sprite/Theodore's Art/Bush2.png
Assets/Sprite/Theodore's Art/Bush3.png
Assets/Sprite/Theodore's Art/Rock1.png
Assets/Sprite/Theodore's Art/Rock2.png
Assets/Sprite/Theodore's Art/Rock3.png
Assets/Sprite/Theodore's Art/Tree1.png
Assets/Sprite/Theodore's Art/Tree2.png
Assets/Sprite/Theodore's Art/Tree3.png
Assets/Sprite/Theodore's Art/Player.png
Assets/Sprite/Theodore's Art/Bush1.png.meta
Assets/Sprite/Theodore's Art/Bush2.png.meta
Assets/Sprite/Theodore's Art/Bush3.png.meta
Assets/Sprite/Theodore's Art/Rock1.png.meta
Assets/Sprite/Theodore's Art/Rock2.png.meta
Assets/Sprite/Theodore's Art/Rock3.png.meta
Assets/Sprite/Theodore's Art/Tree1.png.meta
Assets/Sprite/Theodore's Art/Tree2.png.meta
Assets/Sprite/Theodore's Art/Tree3.png.meta
Assets/Sprite/Theodore's Art/Player.png.meta
Assets/Sprite/Theodore's Art/AfterEdited.meta
Assets/Sprite/Theodore's Art/Player_Bufa.meta
Assets/Sprite/Theodore's Art/Player_Bufa/Idle.anim
Assets/Sprite/Theodore's Art/Player_Bufa/Walk.anim
Assets/Sprite/Theodore's Art/AfterEdited/Player.png
Assets/Sprite/Theodore's Art/AfterEdited/Player.psd
Assets/Sprite/Theodore's Art/Player_Bufa/Interact.anim
Assets/Sprite/Theodore's Art/Player_Bufa/Idle.anim.meta
Assets/Sprite/Theodore's Art/Player_Bufa/Walk.anim.meta
Assets/Sprite/Theodore's Art/AfterEdited/Player.png.meta
Assets/Sprite/Theodore's Art/AfterEdited/Player.psd.meta
Assets/Sprite/Theodore's Art/Player_Bufa/Player.controller
Assets/Sprite/Theodore's Art/Player_Bufa/Interact.anim.meta
Assets/Sprite/Theodore's Art/Player_Bufa/Player.controller.meta
